.mainDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header{
    font-size: 40px;
    margin: 20px;
  }
  .cards{
    animation: anim 1s ease 0s 1 normal forwards;
  }
  .loading{
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #383636; 
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  .button {
      box-sizing: border-box; 
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: transparent;
      border: 2px solid #3c8fe7;
      border-radius: 0.6em;
      color: #3ca8e7;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      font-size: 1rem;
      
      line-height: 1;
      margin-bottom: 10px;
      padding: 0.5em 2.5em;
      text-decoration: none;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
    .button:hover, .button:focus {
      color: #fff;
      outline: 0;
    }
    .button {
      -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }
    .button:hover {
      box-shadow: 0 0 40px 40px #3c9ae7 inset;
    }
  
    @keyframes anim {
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }
  
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }